.sideNavLeft {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sideNavRight {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sideNavLeft a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sideNavRight a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}
.sideNavLeft a:hover {
  color: #f1f1f1;
}
.sideNavRight a:hover {
  color: #f1f1f1;
}
#main {
  transition: 0.5s;
  padding: 20px;
  padding-top: 0;
  clear: both;
}
#icon {
  transition: 0.5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#icon {
  font-size: 50px;
  user-select: none;
  position:sticky;
  top: 20px;
}
#keyLeft {
  display: inline-block;
  transition: 1.5s;
  margin-bottom: -40px;
  /*position: fixed;*/
}
#keyRight {
  display: inline-block;
  transition: 1.5s;
  margin-bottom: -40px;
  /*position: fixed;*/
}

/* primary */

.body {
  width: 70%;
  margin: auto;
  transition: 0s;
}
#content {
  margin: auto;
  width: 75%;
  padding: 10px;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
}
#title {
  text-align: center;
  font-size: 50px;
  line-height: 20px;
}
